@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body{
    background-color: #EDF2F8;
    text-align: center;
}
.words{
    width: 1600px;
    height: 200px; 
    background-color: lightblue;
    margin: 0 auto;
    margin-top: 100px;
    color: black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.input__word {
  margin-right: 50px;
}

.random__characters {
  display: flex;
  align-items: center;
  justify-self: center;
}
.letters {
  width: 200px;
  height: 100%;
}