html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body{
    background-color: #EDF2F8;
    text-align: center;
    font-size: 16px;
}
.title {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 2.5em;
}

.hangman__photo {
  position: relative;
}

.img__hangman {
  width: 3.8125rem;
  height: auto;
  margin-right: 50px;
}

.hangman__body {
  display: none;
}

.hangman__bodyparts-head {
  width: 18px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 49px;
}

.hangman__bodyparts-body {
  width: 5px;
  height: 26px;
  position: absolute;
  top: 30px;
  left: 56px;
}

.hangman__bodyparts-left-hand {
  width: 15px;
  height: 11px;
  position: absolute;
  top: 36px;
  left: 42px;
}

.hangman__bodyparts-right-hand {
  width: 25px;
  height: 9px;
  position: absolute;
  top: 37px;
  left: 59px;
}

.hangman__bodyparts-left-leg {
  width: 18px;
  height: 20px;
  position: absolute;
  top: 55px;
  left: 40px;
}

.hangman__bodyparts-right-leg {
  width: 18px;
  height: 21px;
  position: absolute;
  top: 52px;
  left: 58px;
}

.hangman{
    width: 100%;
    height: 31.25rem; 
    background-color: lightblue;
    margin: 0 auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hangman__timer {
  width: 12.5rem;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.875em;
}

.input {
  width: 10rem;
  font-size: 30px;
  text-align: center;
  border-radius: 0.625rem;
  border: 0.0625rem solid black;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: transparent;
  border-bottom: 0.0625rem solid black;
  margin-right: 0.625rem;
  font-size: 2.5em;
}

.input__word {
  margin-right: 3.125rem;
  display: block;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/*.btn__stopwatch {
  width: 50px;
  height: 20px;
  border-radius: 5px;
}*/

.required__word {
  display: flex;
  align-items: center;
  justify-self: center;
}

.used__letters {
  width: 18.75rem;
  height: 50%;
}

.missed__letters {
  font-size: 1.875em;
}

.letters {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 1.5625em;
}

.letters-and-words {
  width: 18.75rem;
  height: 100%;
  display: block;
}
.correct__word {
  width: 100%;
  height: 50%;
  font-size: 1em;
}

.correct__string {
  font-size: 1.5625rem;
}

.words {
  font-size: 1.875em;
}

.correct__word-modal {
  display: none;
  width: 18.75rem;
  height: 8.7rem;
  background-color: #FFFFFF;
  border: 0.125rem solid #000000;
  border-radius: 0.625rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.congrats, .lose__game {
  width: 100%;
  height: 100%;
  font-size: 2.1875em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game__over-modal {
  display: none;
  width: 18.75rem;
  height: 3.5rem;
  background-color: #FFFFFF;
  border: 0.125rem solid #000000;
  border-radius: 0.625rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lives, .words__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875em;
}

.lives__left, .words__number-left {
  margin-left: 0.625rem;
}


@media screen and (max-width: 768px){

  .hangman {
    display: block;
    margin: 0 auto;
  }

  .hangman__timer {
    margin: 0 auto;
    padding-top: 1.25rem;
  }

  .input__word {
    margin: 0 0 20px 0;
    padding-top: 1.25rem;
  }

  .required__word {
    padding: 0 1.25rem;
  }

  .used__letters {
    width: 100%;
    font-size: 0.625em;
  }

  .letters {
    padding: 0 1.25rem;
  }

  .correct__word {
    font-size: 0.625em;
  }

  .correct__string {
    font-size: 1.125em;
  }

  .letters-and-words {
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
  }

  .correct__word-modal {
    width: 15.75rem;
    height: 5.7rem;
  }

  .congrats {
    font-size: 1.375em;
    padding: 0 2rems;
  }

  .game__over-modal {
    height: 5.5rem;
  }

}