.title {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($color , c-header);
  }
  
.headline {
    font-size: 2.5em;
}