.required__word {
    display: flex;
    align-items: center;
    justify-self: center;

    @include for-size(phone-large) {
        padding: 0 1.25rem;
        justify-content: center;
    }
}

.characters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    background-color: transparent;
    border-bottom: 0.0625rem solid black;
    margin-right: 0.625rem;
    font-size: 2.5em;
}